---

type Props = {
  small?: boolean;
};

const { small } = Astro.props;
---

<div style={small ? "font-size: 0.875rem" : ""}>
  <p>
    안녕하세요!
  </p>
  <p>
    김동현입니다.
  </p>
  <p>
    항상 좋은 날만 가득하시길 바랍니다!
  </p>
  </p>
</div>
